* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

body,
p,
input,
select,
button {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #6b7c93;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(1, 108, 183, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  color: #039be5;
  text-decoration: none;
}

ul {
  padding: 0;
}

.Container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
  width: 100%;
}

.Container--small {
  max-width: 556px;
}

/* Navbar */
.Hacker-news-nav {
  display: flex;
  justify-content: space-between;
}

.Hacker-news-nav ul {
  display: flex;
  list-style-type: none;
}

.Hacker-news-nav li {
  color: white;
  padding-bottom: 0;
  padding-top: 0;
  margin-left: 20px;
}

/* Hacker News */

.Hacker-news {
  background-color: lightgray;
}

.row {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 50px;
}

.Hacker-news h1 {
  text-align: center;
}

.news-panel {
  /* background-color: #ffffff; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 2rem;
  padding: 20px;
  padding-left: 50px;
  text-align: center;
  justify-self: center;
}

.news-panel ul li {
  list-style: none;
}

.bookmarks-panel {
  /* background-color: #ffffff; */
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding-right: 0px;
  width: 70%;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 5px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
}

.bookmarks-container h3 {
  text-align: center;
  align-content: center;
}

.bookmarks-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookmarks-container ul {
  list-style: none;
  text-align: center;
}
