/* Contact Hero */
.Contact-hero {
  background-image: url('./assets/SignUpImage.png');
  background-size: 100%;
  display: inline-block;
  position: relative;
  width: 100%;
  mix-blend-mode: normal;
  background-blend-mode: multiply;
  opacity: 0.84;
}

.Contact-hero-wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.Contact-hero-form {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: 40px;
}

.Contact-hero-heading {
  color: #ffffff;
  font-size: 28px;
  line-height: normal;
  margin: 30px auto 10px;
  text-align: center;
}

.Contact-form-inputs {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 500px;
}

.Contact-hero-wrapper form {
  display: flex;
  justify-content: center;
}

.Contact-form-inputs label {
  width: 100%;
}

input[type='text'] {
  font-size: 16px;
  color: #9ba9bb;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #dadfe9;
}

.Contact-form-submit {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ff7043;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
