/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 20px;
}

nav li {
  color: white;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 20px;
}

.Mobile-logo {
  display: none;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Desktop-menu {
    display: none;
  }

  .Mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Mobile-logo {
    display: flex;
    position: absolute;
    cursor: pointer;
    padding-bottom: 20px;
    padding-right: 40px;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    display: initial;
    position: absolute;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    padding-left: 90%;
  }
}
