* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

body,
p,
input,
select,
button {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #6b7c93;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(1, 108, 183, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  color: #039be5;
}

ul {
  padding: 0;
}

.Container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
  width: 100%;
}

.Container--small {
  max-width: 556px;
}

.Hacker-news {
  display: grid;
  background-color: lightgray;
}

.Hacker-news h1 {
  text-align: center;
}

.Hacker-news h2 {
  text-align: right;
}

section {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 2rem;
  border: 1px solid #039be5;
  padding: 20px;
  text-align: center;
}

section ul {
  list-style: none;
}
