* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body,
p,
input,
select,
button {
  font-family: 'Lato', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(1, 108, 183, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  color: #039be5;
}

ul {
  padding: 0;
}

.Container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
  width: 100%;
}

.Container--small {
  max-width: 556px;
}

.Landing {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Navbar */
.Navbar-menu {
  display: flex;
  justify-content: space-between;
  padding: 12px 3% 12px 3%;
}

.Navbar-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.Navbar-item {
  color: white;
  padding-bottom: 0;
  padding-top: 0;
}

/*Policy Hero */

.Policy-hero {
  background-image: url('../images/BluePolicy.png');
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  mix-blend-mode: normal;
  background-blend-mode: multiply;
}

.Policy-hero-wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

/* Contact Hero */
.Contact-hero {
  background-image: url('../images/SignUpImage.png');
  background-size: 100%;
  position: relative;
  width: 100%;
  mix-blend-mode: normal;
  background-blend-mode: multiply;
  opacity: 0.84;
}

.Contact-hero-wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.Contact-hero-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.Contact-hero-heading {
  color: #ffffff;
  font-size: 28px;
  line-height: normal;
  margin: 30px auto 10px;
  text-align: center;
}

.Contact-form-inputs {
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type='text'] {
  font-size: 16px;
  color: #9ba9bb;
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #dadfe9;
}

.Contact-form-submit {
  align-items: center;
  display: flex;
  background: #ff7043;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Footer */
.Footer {
  background-color: #fff;
  padding: 40px 0;
}

.Footer > .Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Footer-item {
  margin-bottom: 20px;
  text-align: center;
}

.Footer-social {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Footer-social-item {
  margin: 0 20px;
}

.Footer-logo {
  height: 40px;
  margin-bottom: 20px;
}
/* Desktop */

@media screen and (min-width: 1024px) {
  .Footer {
    padding: 60px 20px;
  }

  .Footer > .Container {
    flex-direction: row;
    padding: 0;
  }

  .Footer-links {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-start;
    margin-right: 20px;
  }

  .Footer-item {
    margin: 0 20px 0 0;
    text-align: left;
  }

  .Footer-social {
    flex: 0 1 auto;
    width: auto;
  }

  .Footer-social-item {
    margin: 0 20px 0 0;
  }
}
