* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

body,
p,
input,
select,
button {
  font-family: 'Lato', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(1, 108, 183, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  color: #039be5;
}

ul {
  padding: 0;
}

.Container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
  width: 100%;
}

.Container--small {
  max-width: 556px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  color: white;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 20px;
}

@media only screen and (mmax-width: 600px) {
  .nav {
    width: 100%;
    background-color: #ffffff;
  }
  .nav li {
    width: 100%;
    float: none;
  }
}

.Top-blue-hero {
  background-image: url('../images/BlueBG.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: center;
  padding-top: 20px;
  height: 800px;
  /* background-color: red; */
}

.Computer-Image {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

/* Get Started */

.Get-started {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Get-started h1 {
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}

.Get-started h2 {
  flex-direction: column;
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  letter-spacing: 1px;
  color: #ffffff;
}

.Get-started button {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ff7043;
  border-radius: 5px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
}
