/*Policy Hero */

.Policy-hero {
  background-image: url('./assets/BluePolicy.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 0;
  height: 1400px;
  display: flex;
}

.Policy-hero-wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Policy-hero h1 {
  font-size: 44px;
  margin: 0 auto 10px;
  text-align: center;
  color: #ffffff;
  width: 70%;
}

.Policy-Coverage {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Policy-Coverage div {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 5px;
  flex: inherit;
  margin: 3% auto;
  /* background-color: red; */
}

.Single-Policy {
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.209352);
  height: auto;
  width: 30%;
  align-items: center;
}

.Single-Policy img {
  width: 65%;
  height: 65%;
  object-fit: contain;
  padding-left: 5px;
}

.Policy-Coverage body h4 {
  text-align: left;
  /* margin-bottom: 0.875rem; */
}
.Policy-Coverage body {
  padding-right: 15px;
}

@media screen and (max-width: 600px) {
  .Policy-Coverage {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .Policy-Coverage div {
    width: 95%;
  }
}
